<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>REGISTER</title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.1.3/css/bootstrap.min.css"/>
    <script src="/webjars/jquery/3.3.1-1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>
    <div th:replace="fragments/navigation">MENU</div>
    <div class="container">
        <div class="row">
            <div class="col-xl-8 offset-xl-2">
                <form th:action="@{/users/new}" method="post" th:object="${user}">
                    <div class="form-group">
                        <label for="username">USERNAME</label>
                        <input id="username" type="text" th:field="*{username}" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label for="email">EMAIL</label>
                        <input id="email" type="email" th:field="*{email}" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label for="password">PASSWORD</label>
                        <input id="password" type="password" th:field="*{password}" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label for="passwordConfirmation">PASSWORD CONFIRMATION</label>
                        <input id="passwordConfirmation" type="password" th:field="*{passwordConfirmation}" class="form-control"/>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-primary">Register</button>
                        <button type="reset" class="btn btn-danger">Clear</button>
                    </div>
            </div>
        </div>
    </div>
    </form>
</body>
</html>